<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/assets/css/style.css" />
      <title>Document</title>
   </head>
   <body>
      <header>
         <h1>Aliviio</h1>
         <nav>
            <a href="">Why Aliviio</a>
            <a href="/Solutions">Solutions</a>
            <a href="/Community">Community</a>
            <a href="">Pricing</a>
         </nav>
         <div class="buttons">
            <button class="sign">Sign in</button>
            <button class="start">Start Trial</button>
         </div>
      </header>

      <article class="first">
         <section class="Be">
            <h1>
               Be aware,<br />
               Manage well.
            </h1>
            <p>
               Everyone experiences stress in different ways. Let Alivio guide
               you, in a personalized journal experience, to overcome your
               stress.
            </p>

            <button class="btn1">Find Your Way</button>
         </section>
      </article>
      <article class="sucess">
         <section class="custom">
            <div class="bg">
               <strong>Customezed For</strong>
               <br />

               <figure>
                  <img src="/assets/img/removebg 2.jpg" alt="" />
                  <figcaption>Mikayla</figcaption>
               </figure>
               <br />
               <strong>Your custom contents</strong>
               <br />
               <ul>
                  <li>Understand Your Stress</li>
                  <li>Anger Management</li>
               </ul>
            </div>
         </section>

         <section class="our">
            <p>Our product</p>
            <br />
            <h1>You tell us your stress, We make your diary</h1>
            <br />
            <br />
            <p>
               Everyone experiences it, and in different ways. Let Alivio guide
               you, in a personalized journal experience, to overcome your
               stress.
            </p>
            <br />
            <button class="btn1">Let's get started</button>
         </section>
      </article>
      <footer>
         <h2>Alivio</h2>
         <p>Why Alivio</p>
         <p>Solutions</p>
         <p>Community</p>
         <p>Pricing</p>
      </footer>
   </body>
</html>
